.mainDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;

  margin-left: 20px;

  margin-bottom: 20px;
}

.sider_div {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.span {
  font-size: 18px;
}

.div_span {
  margin-top: 20px;
  margin-bottom: 15px;
}
