
.card_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon_card_heart {
  position: absolute;
  font-size: 22px;
  color: grey;
  top: 65%;
  right: 10%;
  color: white;
  visibility: visible;
 
}

/* .icon_card_heart:hover {
  position: absolute;
  font-size: 22px;
  color: grey;
  top: 65%;
  right: 10%;
  color: azure;
 visibility: visible;
} */


.heart {
  background-color: white;
}

.price {
  font-size: 20px;
}

.icon_card {
  border: 28px ;
}

