.price{
    width: 180px;
    height: 70px;
    background: rgb(176,61,195);
    background: linear-gradient(0deg, rgba(176,61,195,1) 77%, rgba(193,135,210,1) 86%);
    border-radius: 5px;
    margin-top: 20px;
    margin-right: 20px;
    font-size: 9mm;
    color: black;
    text-align: center;
  }

  .btnReg {
    width: '300px';
    background: rgb(225,150,255);
    background: linear-gradient(90deg, rgba(225,150,255,1) 0%, rgba(211,101,255,1) 34%, rgba(136,0,255,1) 100%);
  
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    border-radius: 20px;
  }
  
  .btnReg:hover {
    background: rgb(136,0,255);
    background: linear-gradient(90deg, rgba(136,0,255,1) 0%, rgba(211,101,255,1) 60%, rgba(225,150,255,1) 100%);
    box-shadow: 0 0 10px 0 #f4b7dd inset, 0 0 10px 4px #e1c0f3;
    background-color: rgb(226, 119, 250);
  }

