.header {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  background: #ffffffb9;
  position: sticky;
  top: 0;
  z-index: 1;
}

.input {
  position: relative;
  display: block;
  width: 500px;
  height: 100%;
  padding: 11px 10px 11px 0;
  line-height: 18px;
  font-size: 13px;
  border: 0;
  font-family: arial;
}

.cartnum {
  display: flex;
  flex-direction: column;
}

.sign_login {
  display: flex;
}

.sign_join_my {
  display: flex;
  flex-direction: column;
}

.icon_cart {
  font-size: 35px;
  color: grey;
}

.icon_heart {
  font-size: 35px;
  color: grey;
}

.icon_user {
  font-size: 35px;
  color: grey;
}

.devider {
  margin: 0 5px;
  color: #e9e9e9;
}

.header_link {
  text-decoration: none;
  color: black;
}

.span_number {
  min-width: 25px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  border-radius: 8px;
  background-color: #e62e04;
  color: #fff;
  font-size: 12px;
}

.banner_container a {
  display: block;
  width: 100%;
  height: 100%;
  text-indent: -9999rem;
  background-repeat: no-repeat;
  background-position: top;
  background-image: url(./navbar.png);
}

.banner_container {
  height: 80px;
  overflow: hidden;
}

.logo {
  float: left;
  padding: 20px 0 0;
  max-width: 182px;
  margin-bottom: 0;
  text-align: center;
}

.logo_base {
  background-image: url("../../../public/img/LogoMarket.png");
  background-repeat: no-repeat;
  background-size: 135px auto;
  display: block;
  width: 166px;
  height: 50px;
  text-indent: -999em;
  margin: 0 auto;
  overflow: hidden;
}
